@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .choice {
        @apply py-2 ring-2 text-slate-600 ring-slate-300 rounded-md peer-checked:bg-red-500 peer-checked:ring-red-500 peer-checked:text-slate-50 w-28 max-sm:w-20 text-center text-sm shadow-inner max-sm:text-xs
    }
    .progress-container {
        @apply w-64 h-5 max-sm:w-44 bg-slate-50 shadow-inner ring-1 ring-slate-300 rounded-full p-[1px]
    }
    .progress-value {
        @apply h-full bg-slate-800 rounded-full shadow-inner transition-all duration-700
    }
    .stat {
        @apply flex justify-between items-center text-sm
    }
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}